@import "../../../variables.scss";

  .SuperUserCategory {
    margin: 0 10px;
    box-shadow: 0 10px 20px $primary-black-transparent, 0 6px 6px $primary-black-transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    height: calc(100vh - 280px);
    overflow-y: auto;
    overflow-x: auto;

    .tableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid black;
      font-size: 1.1em;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 5px 10px $primary-black-transparent, 0 3px 3px $primary-black-transparent;
      padding: 5px 10px;
      min-width: 910px;
  
      .categoryTitle {
        display: flex;
        width: 20%;
        justify-content: space-between;
        margin-right: 16px;

        .addSubcat {
          z-index: 999;

          svg {
            z-index: 998;
          }
        }

        &:last-child{
          margin-right: 0;
        }

        span {
          margin-left: 6px;
        }
      }

    }
  }
    .tableColumns {
      height: calc(100vh - 280px);
      min-width: 910px;
      display: flex;
      flex-direction: row;
      background-color: rgba(255, 255, 255, 0.8);
      
      .categoryColumn {
        width: 20%;
        padding: 8px 10px;
    
        // border-right: 1px solid rgba(0, 0, 0, 0.075);

        &:last-child{
          border-right: none;
        }

        .subcatInput {
          width: 87.5%;
          text-indent: 2.5px;
        }

        .subcategoriesTitle {
          display: flex;
          justify-content: space-between;

          .buttonContainer {
            display: flex;
          }
        }
      }
    }
