@import "../../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-fonts;
}

.stageOne {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    padding: 20px;
    font-size: $xlarge;
    margin-bottom: 40px;
  }

  .tileParent {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
}
