@import "../../variables.scss";

body {
  // background-image: url(../../assets/Frame3.png);
  // padding-top: 96px;
  background-color:#F7F6F6;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 800px) {
    background-image: none;
    background-color: $primary-yellow;
  }
}
.categoryChooser {
    padding-top: 96px;
    .backContainer {
      // width: 50%;
      margin-top: 30px;
      button {
        margin: 0 auto;
        width: 70%;
      }

    }
  
  h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 0.7*$xlarge;
  }
}