@import "../../variables.scss";

body {
  // background-image: url(../../assets/Frame3.png);
  background-color: #f7f6f6;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 800px) {
    background-image: none;
    background-color: $primary-yellow;
  }
}
.categoryChooser {
  .backContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 2.5% auto;
    button {
      margin: 0 auto;
      width: 70%;
    }
  }

  h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 0.7 * $xlarge;
  }
}
