@import "../../../variables.scss";

.ResolveModal {
  @include standard_vertical_layout;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(10px);
  background-color: $primary-black-transparent;
  padding-top: 50px;

  .ResolveContainer {
    @include standard_vertical_layout;
    height: 40%;
    width: 60%;
    border: 3px solid $primary-yellow;
    background-color: white;
  }

  .ModalContent {
    @include standard_vertical_layout;
    justify-content: center;
    background-color: #fefefe;
    border: 1px solid $secondary-yellow;
    width: 80%;
    height: 90%;

    .resolveReason {
      width: 80%;
      height: 200px;
      background-color: $secondary-black;
    }

    .ButtonsWrapper {
      display: flex;
      flex-direction: horizontal;
      align-items: space-between;
    }

    .ButtonWrapper {
      width: 200px;
      padding: 5%;
    }
  }
}
