@import "../../../variables.scss";

.ResolveModal {
  @include standard_vertical_layout;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(10px);
  background-color: $primary-black-transparent;
  padding-top: 50px;

  .ResolveContainer {
    border: 2px solid white;
    background-color: white;
  }
  .modal-content {
    @include standard_vertical_layout;
    justify-content: center;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
}

.resolveReason {
  width: 100%;
  height: 400px;
  background-color: $secondary-black;
}
