@import "../../../variables.scss";

.ticketCat2 {
  h1 {
    padding: 20px;
  }
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // margin: auto;
  // margin-top: 80px;
  // overflow-y: auto;
  // height: 400px;
  padding: 10px;
  // width: 820px;

}
