@import "../../../variables.scss";

.ticketCat2 {
  h1 {
    padding: 10% 5%;
  }
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow-y: auto;
  height: 400px;
  padding: 10px;
  // width: 820px;

  @media screen and (max-width: 800px) {
    width: 375px;
  }
}
