@import "../../../variables.scss";

.ticketCat2 {
  h1 {
    padding: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  overflow-y: scroll;
  height: 400px;
  padding: 10px;
  width: 820px;


  @media screen and (max-width: 800px) {
    width: 375px;
  }
}
