@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Yellows */
/* Blacks */
/* Greys */
/* Whites */
/* Greens */
/* Red */
/* Border radiuses */
/* Usage:
  $large for outer containers
  $medium for inner containers
  $small for buttons
  $extra-small for input fields
*/
/* Box shadows */
/* Font sizes */
/* Forms, boxes, lists */
/* Waves background */
/* Keyframes */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

.ResolveModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #14141433;
  padding-top: 50px;
  text-align: center;
}

.ResolveModal .ResolveContainer {
  -webkit-box-shadow: 0 10px 20px #14141433, 0 6px 6px #141414e6, 0 3px 3px #14141433, 0 1px 1px #14141433;
          box-shadow: 0 10px 20px #14141433, 0 6px 6px #141414e6, 0 3px 3px #14141433, 0 1px 1px #14141433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  width: 60%;
  border: 4px solid #f2b423;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffffcc), to(#ffffffcc));
  background-image: linear-gradient(#ffffffcc 0%, #ffffffcc 100%);
  background-size: cover;
}

.ResolveModal .ModalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 80%;
  height: 90%;
}

.ResolveModal .ModalContent .resolveReason {
  width: 100%;
  height: 200px;
  background-color: #222222;
  border: 1px solid #9a9a9a;
  border-radius: 2px;
  background-color: transparent;
  color: #656565;
  outline: none;
  -webkit-transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
  transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
}

.ResolveModal .ModalContent .resolveReason:focus,
.ResolveModal .ModalContent .resolveReason:focus ~ label {
  color: white;
  background-color: #222222e6;
  outline: none;
  border-color: #f2b423;
}

.ResolveModal .ModalContent .resolveReason:focus::-webkit-input-placeholder,
.ResolveModal .ModalContent .resolveReason:focus ~ label::-webkit-input-placeholder {
  color: #9a9a9a;
}

.ResolveModal .ModalContent .resolveReason:focus:-ms-input-placeholder,
.ResolveModal .ModalContent .resolveReason:focus ~ label:-ms-input-placeholder {
  color: #9a9a9a;
}

.ResolveModal .ModalContent .resolveReason:focus::-ms-input-placeholder,
.ResolveModal .ModalContent .resolveReason:focus ~ label::-ms-input-placeholder {
  color: #9a9a9a;
}

.ResolveModal .ModalContent .resolveReason:focus::placeholder,
.ResolveModal .ModalContent .resolveReason:focus ~ label::placeholder {
  color: #9a9a9a;
}

.ResolveModal .ModalContent .ButtonsWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
          flex-direction: horizontal;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ResolveModal .ModalContent .ButtonWrapper {
  width: 40%;
  padding: 5%;
}
/*# sourceMappingURL=ResolveTicketModal.module.css.map */