@import "../../variables.scss";

.assignedUserWrapper {
    display: flex;
    flex-direction: column;
    // border: 2px solid black;

    .modalStyle{

        .modalPopupStyle{
            position: relative;
            background: rgba(255, 255, 255,0.5);
            padding: 10px;
            border-radius: 10px;

            input{
                margin-bottom: 10px;
                width: 125px;
            }

            span {
                position: absolute;
                top: 5px;
                right: 7.5px;
            }
        }
    }

    .assignedPerson{
        display: inline-block;
        // width: 100px;
     
        div{
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
            // background: blue;

            div {
                // background: red;
                padding: 0;
                margin: 0;
            }
        }
    }

    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
    }
}
