@import "../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-fonts;
}

.tileStyles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  margin-top: 40px;
  background-color: $white;
  color: $primary-black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: $large;
  // border: 2px solid $primary-black;
  &:hover {
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 15px 20px rgba(12, 175, 6, 0.781);
    transform: translateY(-7px);
  }
  .catTitle {
    text-align: center;
    font-size: $large;
    color: $primary-black;
  }

  .icon {
    font-size: 150px;
    text-align: center;
  }
}
