@import "../../../variables.scss";

.TableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: #141414;
    // border-bottom: 2px solid black;

    .buttonContainer {
        width: 128.83px;
        display: flex;
        justify-content: space-evenly;
    }

    span {
        margin-left: 20px;
        cursor: pointer;
    }

    p {
        max-width: 100px;
        text-align: left;
    }
}