@import "../../../variables.scss";



.TableRow {
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    margin: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;

    p {
        max-width: 100px;
    }
}