/* Yellows */
/* Blacks and greys */
/* Whites */
/* Greens */
/* Red */
/* Border radiuses */
/* Usage:
  $large for outer containers
  $medium for inner containers
  $small for buttons
  $extra-small for input fields
*/
/* Box shadows */
/* Font sizes */
/* Forms, boxes, lists */
/* Waves background */
/* Keyframes */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

.DeleteUserModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #14141433;
  padding-top: 50px;
  text-align: center;
}

.DeleteUserModal .DeleteUserContainer {
  -webkit-box-shadow: 0 10px 20px #14141433, 0 6px 6px #141414e6, 0 3px 3px #14141433, 0 1px 1px #14141433;
          box-shadow: 0 10px 20px #14141433, 0 6px 6px #141414e6, 0 3px 3px #14141433, 0 1px 1px #14141433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  width: 80%;
  border: 4px solid #f2b423;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffffcc), to(#ffffffcc));
  background-image: linear-gradient(#ffffffcc 0%, #ffffffcc 100%);
  background-size: cover;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .DeleteUserModal .DeleteUserContainer {
    height: 40%;
    width: 40%;
  }
}

.DeleteUserModal .DeleteUserModalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 80%;
  height: 90%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.DeleteUserModal .DeleteUserModalContent h2 {
  text-align: center;
}

.DeleteUserModal .DeleteUserModalContent div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.DeleteUserModal .DeleteUserModalContent .DropDown {
  -webkit-box-shadow: 0 3px 3px #14141433, 0 1px 1px #14141433;
          box-shadow: 0 3px 3px #14141433, 0 1px 1px #14141433;
  border-radius: 4px;
  font-family: "Poppins", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  border: 2px solid #f2b423;
}

.DeleteUserModal .DeleteUserModalContent input[type=text],
.DeleteUserModal .DeleteUserModalContent input[type=tel],
.DeleteUserModal .DeleteUserModalContent input[type=email] {
  background-color: #222222;
  border: 1px solid #9a9a9a;
  border-radius: 2px;
  background-color: transparent;
  color: #656565;
  height: 35px;
  outline: none;
  -webkit-transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
  transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
}

.DeleteUserModal .DeleteUserModalContent input[type=text]:focus,
.DeleteUserModal .DeleteUserModalContent input[type=tel]:focus,
.DeleteUserModal .DeleteUserModalContent input[type=email]:focus {
  color: white;
  background-color: #222222e6;
  outline: none;
  border-color: #f2b423;
}

.DeleteUserModal .DeleteUserModalContent input[type=text]:focus::-webkit-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=tel]:focus::-webkit-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=email]:focus::-webkit-input-placeholder {
  color: #9a9a9a;
}

.DeleteUserModal .DeleteUserModalContent input[type=text]:focus:-ms-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=tel]:focus:-ms-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=email]:focus:-ms-input-placeholder {
  color: #9a9a9a;
}

.DeleteUserModal .DeleteUserModalContent input[type=text]:focus::-ms-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=tel]:focus::-ms-input-placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=email]:focus::-ms-input-placeholder {
  color: #9a9a9a;
}

.DeleteUserModal .DeleteUserModalContent input[type=text]:focus::placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=tel]:focus::placeholder,
.DeleteUserModal .DeleteUserModalContent input[type=email]:focus::placeholder {
  color: #9a9a9a;
}

.DeleteUserModal .DeleteUserModalContent input[type=file] {
  width: 200px;
}

.DeleteUserModal .DeleteUserModalContent .cancelBtn {
  background-color: #a0a0a0;
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1em;
}

.DeleteUserModal .DeleteUserModalContent .cancelBtn:hover {
  background-color: #5b5959;
}

.DeleteUserModal .DeleteUserModalContent .submitBtn {
  background-color: #f2b423;
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.DeleteUserModal .DeleteUserModalContent .submitBtn:hover {
  background-color: #e39816;
}
/*# sourceMappingURL=DeleteUser.module.css.map */