@import "../../../variables.scss";

.stageThree {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 90%;

    buttonCheckout: {
      width: 300px;
    }
}