@import "../../../../../variables.scss";

.TicketTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  height: 140px;
  padding: 20px;
  // width: 90%;
  align-items: center;
  margin: 20px auto;
<<<<<<< HEAD
  // z-index: 0;
  position: relative;

  .ticketContent {
    margin: 20px auto;
  }
    .ticketUser{
    position:absolute;
    right: 0;
    top: 0;
    padding: 5px;

  // background: yellow;
  // width: 200px;
    }
  }
// .modalPopupStyle{
//     // position:absolute;
//     // top: 100px;
//     // left: 100px;
// }


=======
  box-shadow: 0 1px 2px $primary-black-transparent, 0 6px 6px $primary-black-transparent;
  

}
>>>>>>> 7b413bf8adb566f3a8a37becee62826379aa3dd4
