@import "../../../../../variables.scss";

.TicketTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  // width: 90%;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0 1px 2px $primary-black-transparent, 0 6px 6px $primary-black-transparent;
  

}