@import "../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tileStyles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 200px;
  margin-top: 40px;
  background-color: $primary-yellow;
  color: $white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: $large;
  &:hover {
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
  }
  .catTitle {
    text-align: center;
    font-size: $base-value;
    color: $primary-black;
  }

  .icon {
    font-size: 80px;
    text-align: center;
  }
  
}
