@import "../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tileStyles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 200px;
  margin-top: 40px;
  background-color:$primary-yellow;
  color: $primary-black;
  border: $primary-black 3px solid;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    border: $primary-black 5px solid;
  }
  .catTitle {
    text-align: center;
    font-size: $base-value;
}

.icon {
  font-size: 80px;
  text-align: center;
  &:hover {
    // font-size: 100px;
}

}
}