div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    .green {
        background-color: green;
    }
    
    .amber {
        background-color: orange;
    }
    
    .red {
        background-color: red;
    }
}
