@import "../../../../variables.scss";

.chart {
  box-shadow: 0 10px 20px $primary-black-transparent, 0 6px 6px $primary-black-transparent;
  transform: rotate(-90deg);
  border-radius: 50%;
  background: #c6bfaf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-height: 160px;
  
  @media only screen and (min-width: 550px) {
    height: 160px;
  }

  .innerCircle{
    fill: #F1F1F1;
  }

  .outerCircle{
    fill: #c6bfaf;
    stroke: $primary-yellow;
    stroke-width: 120;
  }
}