@import "../../variables.scss";

.button {
    background-color: $primary-yellow;
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    outline: none;

    &:hover {
        background-color: $secondary-yellow;
    }
}
