@import "../../variables.scss";

.navbar {
  background-color: $primary-yellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $secondary-shadow;
  z-index: 8;
  height: 8 * $base-value;
  overflow: hidden;


  img {
    padding: $base-value;
    height: 70px;
  }

  div {
    display: flex;
    align-items: center;  
    
    .displayNav {
      display: flex;
      animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      align-items: center;
      background-color: $primary-yellow;
      height: 100vh;
      width: 300px;
      box-shadow: $primary-shadow;
      padding-top: 80px;
      z-index: 9;

      @media screen and (min-width: 850px) {
        flex-direction: row;
        position: static;
        padding: 0;
        height: auto;
        box-shadow: none;
        width: auto;
      }
      
    }
    .hideNav {
      // animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      display: none;
      transition: 0.1s;
    }

    a {
      color: $primary-black;
      padding: $base-value;
      margin-left: $base-value;
      margin-right: $base-value;
      text-decoration: none;
      &:hover {
        background-color: $white-transparent;
        transition: 0.5s;
        border-radius: $base-value;
      }
      &:visited {
        color: $primary-black;
      }
    }
    h3 {
      &.burger {
        z-index: 10;
        font-size: 1.4em;
        padding: $base-value;
        margin-right: 2*$base-value;
       
        &:hover {
          background-color: $white-transparent; // change to different animation 
          transition: 0.5s;
          border-radius: $base-value;
        }
      }
    }
  }
}

