@import "../../../variables.scss";

.TicketColumns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // box-shadow: 0 10px 20px $primary-black-transparent, 0 6px 6px $primary-black-transparent;
    // background: green;
}