@import "../../../../../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$base-padding: 10px;
$dark-grey: #222222;
$yellow: #f2b432;
$white: #fcfcfb;

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.message {
    display: flex;
    flex-direction: row;
    margin: $base-padding;
    // padding: $base-padding;
    border-radius: 6px;

    div {
        h3 {
            padding: 0;
            margin: 4px;
        }
        
        &.messageContent {
            box-shadow: 0 3px 3px $primary-black-transparent, 0 1px 1px $primary-black-transparent;
            border-radius: 6px;
            width: 80%;
            padding: $base-padding;
            font-size: $base-value * 1.2;
        }

        &.nameAndDate {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: $base-value;

            p {
                margin: 4px;
                font-size: $base-value * 1.2;
                font-style: italic;
            }
        }
    }

    img, 
    .icon {
        border-radius: 50%;
        box-shadow: 0 3px 3px $primary-black-transparent, 0 1px 1px $primary-black-transparent;
        margin: 0% 2.5% 2.5% 2.5%;
        width: 15%;
        height: 15%;

        &.attachment {
            height: auto;
            width: 90%;
            border-radius: 0;
        }
    }

    textarea {
        width: 100%;
        height: 80px;
        margin-top: $base-padding;

        &:focus {
            outline: none;
        }
    }
}
