@import "../../../../variables.scss";

.chart {
    transform: rotate(-90deg);
    border-radius: 50%;
    background: $primary-yellow;
    circle {
      fill: $primary-yellow;
      stroke: forestgreen;
      stroke-width: 50;
      stroke-dasharray: 460 503;
    }
  }
