@import "../../../../variables.scss";

.chart {
  width: 200px;
  height: 200px;
  border: 2px solid $primary-yellow;
  background-color: cornsilk;
  border-radius: 50%;
  box-shadow: $shea-shadow;
}
