@import "../../../variables.scss";

  .buttonCheckout {
    text-align: center;
    // line-height: 210px;
    height: 210px;
    width: 300px;
    font-size: $large;
    border-radius: $medium;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 110px;
    @media only screen and (max-width: 420px) {
      height: 180px;
      width: 130px;
    }
    @media only screen and (max-width: 900px) {
      margin: 20px 20px 20px 20px;
    }
    &:hover {
      cursor: pointer;
      font-weight: 500;
      box-shadow: 0px 15px 20px rgba(12, 175, 6, 0.781);
      transform: translateY(-7px);
      background-color: rgba(12, 175, 6, 0.781);
    }
  }