$base-value: 12px;

/* Yellows */

$primary-yellow: #f2b423;
$secondary-yellow: #e39816;

/* Greens */

$primary-green: #60992D;

/* Red */

$primary-red: #D62828;

/* Blacks and greys */

$primary-black: #141414;
$primary-black-opacity-nine: #141414e6;
$primary-black-opacity-two: #14141433;

$secondary-black: #222222;
$secondary-black-opacity-nine: #222222e6;
$secondary-black-opacity-two: #22222233;

$dark-grey: #656565;
$light-grey: #9a9a9a;

/* Whites */
