$primary-black-transparent: #14141433;
$primary-black-opaque: #141414e6;
$secondary-black-opaque: #222222e6;

$base-value: 12px;

/* Yellows */

$primary-yellow: #f2b423;
$secondary-yellow: #e39816;

/* Blacks and greys */

$primary-black: #141414;
$primary-black-opacity-nine: #141414e6;
$primary-black-opacity-two: #14141433;

$secondary-black: #222222;
$secondary-black-opacity-nine: #222222e6;
$secondary-black-opacity-two: #22222233;

$dark-grey: #656565;
$light-grey: #9a9a9a;

/* Whites */
$white: white;
$white-opaque: #ffffffcc;
$white-transparent: #ffffff40;

/* Greens */
$primary-green: #60992D;

/* Red */
$primary-red: #D62828;

////// Borders and shaddows //////

/* Border radiuses */

$large: 6px;
$medium: 4px;
$small: 3px;
$extra-small: 2px;

/* Usage:
  $large for outer containers
  $medium for inner containers
  $small for buttons
  $extra-small for input fields
*/

/* Box shadows */

$primary-shadow: 0 10px 20px $primary-black-transparent, 0 6px 6px $primary-black-opaque;
$secondary-shadow: 0 3px 3px $primary-black-transparent, 0 1px 1px $primary-black-transparent;


////// Fonts //////
$main-fonts: "Poppins", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* Font sizes */
$standard: 1rem;
$large: 1.5rem;
$small: 0.85rem;
$tiny: 0.75rem;
$xlarge: 2.5rem;


////// Designs and layouts //////

/* Forms, boxes, lists */
@mixin standard_vertical_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin standard_horizontal_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Waves background */
@mixin wavy_background {
  background-color: $white;
  background-image: url("./assets/intergr8-login-background.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}


/* Keyframes */
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
